@layer theme {
  :root {
    --radius: 0.375rem;
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
      0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
      0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
      0 2px 4px -1px hsl(0 0% 0% / 0.1);
    --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
      0 4px 6px -1px hsl(0 0% 0% / 0.1);
    --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
      0 8px 10px -1px hsl(0 0% 0% / 0.1);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  }
  :root.dark {
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
      0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
      0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
      0 2px 4px -1px hsl(0 0% 0% / 0.1);
    --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
      0 4px 6px -1px hsl(0 0% 0% / 0.1);
    --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
      0 8px 10px -1px hsl(0 0% 0% / 0.1);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  }
}

@layer theme-violet {
  [data-theme-color="violet"]:root {
    --background: oklch(0.973 0.0133 286.1503);
    --foreground: oklch(0.3015 0.0572 282.4176);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.3015 0.0572 282.4176);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.3015 0.0572 282.4176);
    --primary: oklch(0.5417 0.179 288.0332);
    --primary-foreground: oklch(1 0 0);
    --secondary: oklch(0.9174 0.0435 292.6901);
    --secondary-foreground: oklch(0.4143 0.1039 288.1742);
    --muted: oklch(0.958 0.0133 286.1454);
    --muted-foreground: oklch(0.5426 0.0465 284.7435);
    --accent: oklch(0.9221 0.0373 262.141);
    --accent-foreground: oklch(0.3015 0.0572 282.4176);
    --destructive: oklch(0.6861 0.2061 14.9941);
    --destructive-foreground: oklch(1 0 0);
    --border: oklch(0.9115 0.0216 285.9625);
    --input: oklch(0.9115 0.0216 285.9625);
    --ring: oklch(0.5417 0.179 288.0332);
    --chart-1: oklch(0.5417 0.179 288.0332);
    --chart-2: oklch(0.7042 0.1602 288.988);
    --chart-3: oklch(0.5679 0.2113 276.7065);
    --chart-4: oklch(0.6356 0.1922 281.8054);
    --chart-5: oklch(0.4509 0.1758 279.3838);
    --sidebar: oklch(0.958 0.0133 286.1454);
    --sidebar-foreground: oklch(0.3015 0.0572 282.4176);
    --sidebar-primary: oklch(0.5417 0.179 288.0332);
    --sidebar-primary-foreground: oklch(1 0 0);
    --sidebar-accent: oklch(0.9221 0.0373 262.141);
    --sidebar-accent-foreground: oklch(0.3015 0.0572 282.4176);
    --sidebar-border: oklch(0.9115 0.0216 285.9625);
    --sidebar-ring: oklch(0.5417 0.179 288.0332);
  }

  [data-theme-color="violet"].dark {
    --background: oklch(0.1743 0.0227 283.7998);
    --foreground: oklch(0.9185 0.0257 285.8834);
    --card: oklch(0.2284 0.0384 282.9324);
    --card-foreground: oklch(0.9185 0.0257 285.8834);
    --popover: oklch(0.2284 0.0384 282.9324);
    --popover-foreground: oklch(0.9185 0.0257 285.8834);
    --primary: oklch(0.7162 0.1597 290.3962);
    --primary-foreground: oklch(0.1743 0.0227 283.7998);
    --secondary: oklch(0.3139 0.0736 283.4591);
    --secondary-foreground: oklch(0.8367 0.0849 285.9111);
    --muted: oklch(0.271 0.0621 281.4377);
    --muted-foreground: oklch(0.7166 0.0462 285.1741);
    --accent: oklch(0.3354 0.0828 280.9705);
    --accent-foreground: oklch(0.9185 0.0257 285.8834);
    --destructive: oklch(0.6861 0.2061 14.9941);
    --destructive-foreground: oklch(1 0 0);
    --border: oklch(0.3261 0.0597 282.5832);
    --input: oklch(0.3261 0.0597 282.5832);
    --ring: oklch(0.7162 0.1597 290.3962);
    --chart-1: oklch(0.7162 0.1597 290.3962);
    --chart-2: oklch(0.6382 0.1047 274.9117);
    --chart-3: oklch(0.7482 0.1235 244.7492);
    --chart-4: oklch(0.7124 0.0977 186.6761);
    --chart-5: oklch(0.7546 0.1831 346.8124);
    --sidebar: oklch(0.2284 0.0384 282.9324);
    --sidebar-foreground: oklch(0.9185 0.0257 285.8834);
    --sidebar-primary: oklch(0.7162 0.1597 290.3962);
    --sidebar-primary-foreground: oklch(0.1743 0.0227 283.7998);
    --sidebar-accent: oklch(0.3354 0.0828 280.9705);
    --sidebar-accent-foreground: oklch(0.9185 0.0257 285.8834);
    --sidebar-border: oklch(0.3261 0.0597 282.5832);
    --sidebar-ring: oklch(0.7162 0.1597 290.3962);
  }
}

@layer theme-red {
  [data-theme-color="red"]:root {
    --background: oklch(0.9754 0.0084 325.6414);
    --foreground: oklch(0.3257 0.1161 325.0372);
    --card: oklch(0.9754 0.0084 325.6414);
    --card-foreground: oklch(0.3257 0.1161 325.0372);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.3257 0.1161 325.0372);
    --primary: oklch(0.5316 0.1409 355.1999);
    --primary-foreground: oklch(1 0 0);
    --secondary: oklch(0.8696 0.0675 334.8991);
    --secondary-foreground: oklch(0.4448 0.1341 324.7991);
    --muted: oklch(0.9395 0.026 331.5454);
    --muted-foreground: oklch(0.4924 0.1244 324.4523);
    --accent: oklch(0.8696 0.0675 334.8991);
    --accent-foreground: oklch(0.4448 0.1341 324.7991);
    --destructive: oklch(0.5248 0.1368 20.8317);
    --destructive-foreground: oklch(1 0 0);
    --border: oklch(0.8568 0.0829 328.911);
    --input: oklch(0.8517 0.0558 336.6002);
    --ring: oklch(0.5916 0.218 0.5844);
    --chart-1: oklch(0.6038 0.2363 344.4657);
    --chart-2: oklch(0.4445 0.2251 300.6246);
    --chart-3: oklch(0.379 0.0438 226.1538);
    --chart-4: oklch(0.833 0.1185 88.3461);
    --chart-5: oklch(0.7843 0.1256 58.9964);
    --sidebar: oklch(0.936 0.0288 320.5788);
    --sidebar-foreground: oklch(0.4948 0.1909 354.5435);
    --sidebar-primary: oklch(0.3963 0.0251 285.1962);
    --sidebar-primary-foreground: oklch(0.9668 0.0124 337.5228);
    --sidebar-accent: oklch(0.9789 0.0013 106.4235);
    --sidebar-accent-foreground: oklch(0.3963 0.0251 285.1962);
    --sidebar-border: oklch(0.9383 0.0026 48.7178);
    --sidebar-ring: oklch(0.5916 0.218 0.5844);
  }

  [data-theme-color="red"].dark {
    --background: oklch(0.2409 0.0201 307.5346);
    --foreground: oklch(0.8398 0.0387 309.5391);
    --card: oklch(0.2803 0.0232 307.5413);
    --card-foreground: oklch(0.8456 0.0302 341.4597);
    --popover: oklch(0.1548 0.0132 338.9015);
    --popover-foreground: oklch(0.9647 0.0091 341.8035);
    --primary: oklch(0.4607 0.1853 4.0994);
    --primary-foreground: oklch(0.856 0.0618 346.3684);
    --secondary: oklch(0.3137 0.0306 310.061);
    --secondary-foreground: oklch(0.8483 0.0382 307.9613);
    --muted: oklch(0.2634 0.0219 309.4748);
    --muted-foreground: oklch(0.794 0.0372 307.1032);
    --accent: oklch(0.3649 0.0508 308.4911);
    --accent-foreground: oklch(0.9647 0.0091 341.8035);
    --destructive: oklch(0.2258 0.0524 12.6119);
    --destructive-foreground: oklch(1 0 0);
    --border: oklch(0.3286 0.0154 343.4461);
    --input: oklch(0.3387 0.0195 332.8347);
    --ring: oklch(0.5916 0.218 0.5844);
    --chart-1: oklch(0.5316 0.1409 355.1999);
    --chart-2: oklch(0.5633 0.1912 306.8561);
    --chart-3: oklch(0.7227 0.1502 60.5799);
    --chart-4: oklch(0.6193 0.2029 312.7422);
    --chart-5: oklch(0.6118 0.2093 6.1387);
    --sidebar: oklch(0.1893 0.0163 331.0475);
    --sidebar-foreground: oklch(0.8607 0.0293 343.6612);
    --sidebar-primary: oklch(0.4882 0.2172 264.3763);
    --sidebar-primary-foreground: oklch(1 0 0);
    --sidebar-accent: oklch(0.2337 0.0261 338.1961);
    --sidebar-accent-foreground: oklch(0.9674 0.0013 286.3752);
    --sidebar-border: oklch(0 0 0);
    --sidebar-ring: oklch(0.5916 0.218 0.5844);
  }
}

@layer theme-orange {
  [data-theme-color="orange"]:root {
    --background: oklch(0.9856 0.0084 56.3169);
    --foreground: oklch(0.3353 0.0132 2.7676);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.3353 0.0132 2.7676);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.3353 0.0132 2.7676);
    --primary: oklch(0.7357 0.1641 34.7091);
    --primary-foreground: oklch(1 0 0);
    --secondary: oklch(0.9596 0.02 28.9029);
    --secondary-foreground: oklch(0.5587 0.1294 32.7364);
    --muted: oklch(0.9656 0.0176 39.4009);
    --muted-foreground: oklch(0.5534 0.0116 58.0708);
    --accent: oklch(0.8278 0.1131 57.9984);
    --accent-foreground: oklch(0.3353 0.0132 2.7676);
    --destructive: oklch(0.6122 0.2082 22.241);
    --destructive-foreground: oklch(1 0 0);
    --border: oklch(0.9296 0.037 38.6868);
    --input: oklch(0.9296 0.037 38.6868);
    --ring: oklch(0.7357 0.1641 34.7091);
    --chart-1: oklch(0.7357 0.1641 34.7091);
    --chart-2: oklch(0.8278 0.1131 57.9984);
    --chart-3: oklch(0.8773 0.0763 54.9314);
    --chart-4: oklch(0.82 0.1054 40.8859);
    --chart-5: oklch(0.6368 0.1306 32.0721);
    --sidebar: oklch(0.9656 0.0176 39.4009);
    --sidebar-foreground: oklch(0.3353 0.0132 2.7676);
    --sidebar-primary: oklch(0.7357 0.1641 34.7091);
    --sidebar-primary-foreground: oklch(1 0 0);
    --sidebar-accent: oklch(0.8278 0.1131 57.9984);
    --sidebar-accent-foreground: oklch(0.3353 0.0132 2.7676);
    --sidebar-border: oklch(0.9296 0.037 38.6868);
    --sidebar-ring: oklch(0.7357 0.1641 34.7091);
  }

  [data-theme-color="orange"].dark {
    --background: oklch(0.2569 0.0169 352.4042);
    --foreground: oklch(0.9397 0.0119 51.3156);
    --card: oklch(0.3184 0.0176 341.4465);
    --card-foreground: oklch(0.9397 0.0119 51.3156);
    --popover: oklch(0.3184 0.0176 341.4465);
    --popover-foreground: oklch(0.9397 0.0119 51.3156);
    --primary: oklch(0.7357 0.1641 34.7091);
    --primary-foreground: oklch(1 0 0);
    --secondary: oklch(0.3637 0.0203 342.2664);
    --secondary-foreground: oklch(0.9397 0.0119 51.3156);
    --muted: oklch(0.3184 0.0176 341.4465);
    --muted-foreground: oklch(0.8378 0.0237 52.6346);
    --accent: oklch(0.8278 0.1131 57.9984);
    --accent-foreground: oklch(0.2569 0.0169 352.4042);
    --destructive: oklch(0.6122 0.2082 22.241);
    --destructive-foreground: oklch(1 0 0);
    --border: oklch(0.3637 0.0203 342.2664);
    --input: oklch(0.3637 0.0203 342.2664);
    --ring: oklch(0.7357 0.1641 34.7091);
    --chart-1: oklch(0.7357 0.1641 34.7091);
    --chart-2: oklch(0.8278 0.1131 57.9984);
    --chart-3: oklch(0.8773 0.0763 54.9314);
    --chart-4: oklch(0.82 0.1054 40.8859);
    --chart-5: oklch(0.6368 0.1306 32.0721);
    --sidebar: oklch(0.2569 0.0169 352.4042);
    --sidebar-foreground: oklch(0.9397 0.0119 51.3156);
    --sidebar-primary: oklch(0.7357 0.1641 34.7091);
    --sidebar-primary-foreground: oklch(1 0 0);
    --sidebar-accent: oklch(0.8278 0.1131 57.9984);
    --sidebar-accent-foreground: oklch(0.2569 0.0169 352.4042);
    --sidebar-border: oklch(0.3637 0.0203 342.2664);
    --sidebar-ring: oklch(0.7357 0.1641 34.7091);
  }
}

@layer theme-blue {
  [data-theme-color="blue"]:root {
    --background: oklch(1 0 0);
    --foreground: oklch(0.3211 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.3211 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.3211 0 0);
    --primary: oklch(0.6231 0.188 259.8145);
    --primary-foreground: oklch(1 0 0);
    --secondary: oklch(0.967 0.0029 264.5419);
    --secondary-foreground: oklch(0.4461 0.0263 256.8018);
    --muted: oklch(0.9846 0.0017 247.8389);
    --muted-foreground: oklch(0.551 0.0234 264.3637);
    --accent: oklch(0.9514 0.025 236.8242);
    --accent-foreground: oklch(0.3791 0.1378 265.5222);
    --destructive: oklch(0.6368 0.2078 25.3313);
    --destructive-foreground: oklch(1 0 0);
    --border: oklch(0.9276 0.0058 264.5313);
    --input: oklch(0.9276 0.0058 264.5313);
    --ring: oklch(0.6231 0.188 259.8145);
    --chart-1: oklch(0.6231 0.188 259.8145);
    --chart-2: oklch(0.5461 0.2152 262.8809);
    --chart-3: oklch(0.4882 0.2172 264.3763);
    --chart-4: oklch(0.4244 0.1809 265.6377);
    --chart-5: oklch(0.3791 0.1378 265.5222);
    --sidebar: oklch(0.9846 0.0017 247.8389);
    --sidebar-foreground: oklch(0.3211 0 0);
    --sidebar-primary: oklch(0.6231 0.188 259.8145);
    --sidebar-primary-foreground: oklch(1 0 0);
    --sidebar-accent: oklch(0.9514 0.025 236.8242);
    --sidebar-accent-foreground: oklch(0.3791 0.1378 265.5222);
    --sidebar-border: oklch(0.9276 0.0058 264.5313);
    --sidebar-ring: oklch(0.6231 0.188 259.8145);
  }

  [data-theme-color="blue"].dark {
    --background: oklch(0.2046 0 0);
    --foreground: oklch(0.9219 0 0);
    --card: oklch(0.2686 0 0);
    --card-foreground: oklch(0.9219 0 0);
    --popover: oklch(0.2686 0 0);
    --popover-foreground: oklch(0.9219 0 0);
    --primary: oklch(0.6231 0.188 259.8145);
    --primary-foreground: oklch(1 0 0);
    --secondary: oklch(0.2686 0 0);
    --secondary-foreground: oklch(0.9219 0 0);
    --muted: oklch(0.2686 0 0);
    --muted-foreground: oklch(0.7155 0 0);
    --accent: oklch(0.3791 0.1378 265.5222);
    --accent-foreground: oklch(0.8823 0.0571 254.1284);
    --destructive: oklch(0.6368 0.2078 25.3313);
    --destructive-foreground: oklch(1 0 0);
    --border: oklch(0.3715 0 0);
    --input: oklch(0.3715 0 0);
    --ring: oklch(0.6231 0.188 259.8145);
    --chart-1: oklch(0.7137 0.1434 254.624);
    --chart-2: oklch(0.6231 0.188 259.8145);
    --chart-3: oklch(0.5461 0.2152 262.8809);
    --chart-4: oklch(0.4882 0.2172 264.3763);
    --chart-5: oklch(0.4244 0.1809 265.6377);
    --sidebar: oklch(0.2046 0 0);
    --sidebar-foreground: oklch(0.9219 0 0);
    --sidebar-primary: oklch(0.6231 0.188 259.8145);
    --sidebar-primary-foreground: oklch(1 0 0);
    --sidebar-accent: oklch(0.3791 0.1378 265.5222);
    --sidebar-accent-foreground: oklch(0.8823 0.0571 254.1284);
    --sidebar-border: oklch(0.3715 0 0);
    --sidebar-ring: oklch(0.6231 0.188 259.8145);
  }
}

@layer theme-yellow {
  [data-theme-color="yellow"]:root {
    --background: oklch(1 0 0);
    --foreground: oklch(0.2686 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.2686 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.2686 0 0);
    --primary: oklch(0.7686 0.1647 70.0804);
    --primary-foreground: oklch(0 0 0);
    --secondary: oklch(0.967 0.0029 264.5419);
    --secondary-foreground: oklch(0.4461 0.0263 256.8018);
    --muted: oklch(0.9846 0.0017 247.8389);
    --muted-foreground: oklch(0.551 0.0234 264.3637);
    --accent: oklch(0.9869 0.0214 95.2774);
    --accent-foreground: oklch(0.4732 0.1247 46.2007);
    --destructive: oklch(0.6368 0.2078 25.3313);
    --destructive-foreground: oklch(1 0 0);
    --border: oklch(0.9276 0.0058 264.5313);
    --input: oklch(0.9276 0.0058 264.5313);
    --ring: oklch(0.7686 0.1647 70.0804);
    --chart-1: oklch(0.7686 0.1647 70.0804);
    --chart-2: oklch(0.6658 0.1574 58.3183);
    --chart-3: oklch(0.5553 0.1455 48.9975);
    --chart-4: oklch(0.4732 0.1247 46.2007);
    --chart-5: oklch(0.4137 0.1054 45.9038);
    --sidebar: oklch(0.9846 0.0017 247.8389);
    --sidebar-foreground: oklch(0.2686 0 0);
    --sidebar-primary: oklch(0.7686 0.1647 70.0804);
    --sidebar-primary-foreground: oklch(1 0 0);
    --sidebar-accent: oklch(0.9869 0.0214 95.2774);
    --sidebar-accent-foreground: oklch(0.4732 0.1247 46.2007);
    --sidebar-border: oklch(0.9276 0.0058 264.5313);
    --sidebar-ring: oklch(0.7686 0.1647 70.0804);
  }

  [data-theme-color="yellow"].dark {
    --background: oklch(0.2046 0 0);
    --foreground: oklch(0.9219 0 0);
    --card: oklch(0.2686 0 0);
    --card-foreground: oklch(0.9219 0 0);
    --popover: oklch(0.2686 0 0);
    --popover-foreground: oklch(0.9219 0 0);
    --primary: oklch(0.7686 0.1647 70.0804);
    --primary-foreground: oklch(0 0 0);
    --secondary: oklch(0.2686 0 0);
    --secondary-foreground: oklch(0.9219 0 0);
    --muted: oklch(0.2686 0 0);
    --muted-foreground: oklch(0.7155 0 0);
    --accent: oklch(0.4732 0.1247 46.2007);
    --accent-foreground: oklch(0.9243 0.1151 95.7459);
    --destructive: oklch(0.6368 0.2078 25.3313);
    --destructive-foreground: oklch(1 0 0);
    --border: oklch(0.3715 0 0);
    --input: oklch(0.3715 0 0);
    --ring: oklch(0.7686 0.1647 70.0804);
    --chart-1: oklch(0.8369 0.1644 84.4286);
    --chart-2: oklch(0.6658 0.1574 58.3183);
    --chart-3: oklch(0.4732 0.1247 46.2007);
    --chart-4: oklch(0.5553 0.1455 48.9975);
    --chart-5: oklch(0.4732 0.1247 46.2007);
    --sidebar: oklch(0.1684 0 0);
    --sidebar-foreground: oklch(0.9219 0 0);
    --sidebar-primary: oklch(0.7686 0.1647 70.0804);
    --sidebar-primary-foreground: oklch(1 0 0);
    --sidebar-accent: oklch(0.4732 0.1247 46.2007);
    --sidebar-accent-foreground: oklch(0.9243 0.1151 95.7459);
    --sidebar-border: oklch(0.3715 0 0);
    --sidebar-ring: oklch(0.7686 0.1647 70.0804);
  }
}

@layer theme-green {
  [data-theme-color="green"]:root {
    --background: oklch(0.9751 0.0127 244.2507);
    --foreground: oklch(0.3729 0.0306 259.7328);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.3729 0.0306 259.7328);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.3729 0.0306 259.7328);
    --primary: oklch(0.7227 0.192 149.5793);
    --primary-foreground: oklch(1 0 0);
    --secondary: oklch(0.9514 0.025 236.8242);
    --secondary-foreground: oklch(0.4461 0.0263 256.8018);
    --muted: oklch(0.967 0.0029 264.5419);
    --muted-foreground: oklch(0.551 0.0234 264.3637);
    --accent: oklch(0.9505 0.0507 163.0508);
    --accent-foreground: oklch(0.3729 0.0306 259.7328);
    --destructive: oklch(0.6368 0.2078 25.3313);
    --destructive-foreground: oklch(1 0 0);
    --border: oklch(0.9276 0.0058 264.5313);
    --input: oklch(0.9276 0.0058 264.5313);
    --ring: oklch(0.7227 0.192 149.5793);
    --chart-1: oklch(0.7227 0.192 149.5793);
    --chart-2: oklch(0.6959 0.1491 162.4796);
    --chart-3: oklch(0.596 0.1274 163.2254);
    --chart-4: oklch(0.5081 0.1049 165.6121);
    --chart-5: oklch(0.4318 0.0865 166.9128);
    --sidebar: oklch(0.9514 0.025 236.8242);
    --sidebar-foreground: oklch(0.3729 0.0306 259.7328);
    --sidebar-primary: oklch(0.7227 0.192 149.5793);
    --sidebar-primary-foreground: oklch(1 0 0);
    --sidebar-accent: oklch(0.9505 0.0507 163.0508);
    --sidebar-accent-foreground: oklch(0.3729 0.0306 259.7328);
    --sidebar-border: oklch(0.9276 0.0058 264.5313);
    --sidebar-ring: oklch(0.7227 0.192 149.5793);
  }

  [data-theme-color="green"].dark {
    --background: oklch(0.2077 0.0398 265.7549);
    --foreground: oklch(0.8717 0.0093 258.3382);
    --card: oklch(0.2795 0.0368 260.031);
    --card-foreground: oklch(0.8717 0.0093 258.3382);
    --popover: oklch(0.2795 0.0368 260.031);
    --popover-foreground: oklch(0.8717 0.0093 258.3382);
    --primary: oklch(0.7729 0.1535 163.2231);
    --primary-foreground: oklch(0.2077 0.0398 265.7549);
    --secondary: oklch(0.3351 0.0331 260.912);
    --secondary-foreground: oklch(0.7118 0.0129 286.0665);
    --muted: oklch(0.2795 0.0368 260.031);
    --muted-foreground: oklch(0.551 0.0234 264.3637);
    --accent: oklch(0.3729 0.0306 259.7328);
    --accent-foreground: oklch(0.7118 0.0129 286.0665);
    --destructive: oklch(0.6368 0.2078 25.3313);
    --destructive-foreground: oklch(0.2077 0.0398 265.7549);
    --border: oklch(0.4461 0.0263 256.8018);
    --input: oklch(0.4461 0.0263 256.8018);
    --ring: oklch(0.7729 0.1535 163.2231);
    --chart-1: oklch(0.7729 0.1535 163.2231);
    --chart-2: oklch(0.7845 0.1325 181.912);
    --chart-3: oklch(0.7227 0.192 149.5793);
    --chart-4: oklch(0.6959 0.1491 162.4796);
    --chart-5: oklch(0.596 0.1274 163.2254);
    --sidebar: oklch(0.2795 0.0368 260.031);
    --sidebar-foreground: oklch(0.8717 0.0093 258.3382);
    --sidebar-primary: oklch(0.7729 0.1535 163.2231);
    --sidebar-primary-foreground: oklch(0.2077 0.0398 265.7549);
    --sidebar-accent: oklch(0.3729 0.0306 259.7328);
    --sidebar-accent-foreground: oklch(0.7118 0.0129 286.0665);
    --sidebar-border: oklch(0.4461 0.0263 256.8018);
    --sidebar-ring: oklch(0.7729 0.1535 163.2231);
  }
}

@layer theme-rose {
  [data-theme-color="rose"]:root {
    --card: oklch(0.9837 0.0107 339.3288);
    --card-foreground: oklch(0.4426 0.1653 352.3762);
    --popover: oklch(0.9837 0.0107 339.3288);
    --popover-foreground: oklch(0.4426 0.1653 352.3762);
    --primary: oklch(0.6002 0.2414 0.1348);
    --primary-foreground: oklch(1 0 0);
    --secondary: oklch(0.923 0.0701 326.1273);
    --secondary-foreground: oklch(0.4426 0.1653 352.3762);
    --muted: oklch(0.9429 0.0363 344.2604);
    --muted-foreground: oklch(0.574 0.1732 352.0544);
    --accent: oklch(0.8766 0.0828 344.8849);
    --accent-foreground: oklch(0.4426 0.1653 352.3762);
    --destructive: oklch(0.5831 0.1911 6.341);
    --destructive-foreground: oklch(1 0 0);
    --border: oklch(0.8881 0.0747 344.3866);
    --input: oklch(0.923 0.0701 326.1273);
    --ring: oklch(0.6002 0.2414 0.1348);
    --chart-1: oklch(0.6002 0.2414 0.1348);
    --chart-2: oklch(0.5979 0.175 345.0378);
    --chart-3: oklch(0.6009 0.1243 311.7958);
    --chart-4: oklch(0.5849 0.1178 283.2937);
    --chart-5: oklch(0.6479 0.1871 267.9684);
    --sidebar: oklch(0.9629 0.0227 345.7485);
    --sidebar-foreground: oklch(0.4426 0.1653 352.3762);
    --sidebar-primary: oklch(0.6002 0.2414 0.1348);
    --sidebar-primary-foreground: oklch(1 0 0);
    --sidebar-accent: oklch(0.8766 0.0828 344.8849);
    --sidebar-accent-foreground: oklch(0.4426 0.1653 352.3762);
    --sidebar-border: oklch(0.9311 0.0448 343.3135);
    --sidebar-ring: oklch(0.6002 0.2414 0.1348);
  }

  [data-theme-color="rose"].dark {
    --background: oklch(0.1808 0.0535 313.7159);
    --foreground: oklch(0.8624 0.1307 326.6356);
    --card: oklch(0.2398 0.0661 313.2337);
    --card-foreground: oklch(0.8624 0.1307 326.6356);
    --popover: oklch(0.2398 0.0661 313.2337);
    --popover-foreground: oklch(0.8624 0.1307 326.6356);
    --primary: oklch(0.7543 0.2319 332.0212);
    --primary-foreground: oklch(0.1608 0.0493 327.5673);
    --secondary: oklch(0.3184 0.0915 319.6465);
    --secondary-foreground: oklch(0.8624 0.1307 326.6356);
    --muted: oklch(0.2701 0.077 312.3525);
    --muted-foreground: oklch(0.7116 0.1623 327.1132);
    --accent: oklch(0.3558 0.1201 325.7655);
    --accent-foreground: oklch(0.8624 0.1307 326.6356);
    --destructive: oklch(0.6539 0.2441 7.174);
    --destructive-foreground: oklch(0.9821 0 0);
    --border: oklch(0.328 0.1202 313.5393);
    --input: oklch(0.3184 0.0915 319.6465);
    --ring: oklch(0.7543 0.2319 332.0212);
    --chart-1: oklch(0.7543 0.2319 332.0212);
    --chart-2: oklch(0.6508 0.2159 317.6331);
    --chart-3: oklch(0.6249 0.2233 292.7656);
    --chart-4: oklch(0.6067 0.1649 278.7172);
    --chart-5: oklch(0.6235 0.2019 268.0521);
    --sidebar: oklch(0.1941 0.0504 311.3983);
    --sidebar-foreground: oklch(0.8624 0.1307 326.6356);
    --sidebar-primary: oklch(0.7543 0.2319 332.0212);
    --sidebar-primary-foreground: oklch(0.1608 0.0493 327.5673);
    --sidebar-accent: oklch(0.3558 0.1201 325.7655);
    --sidebar-accent-foreground: oklch(0.8624 0.1307 326.6356);
    --sidebar-border: oklch(0.328 0.1202 313.5393);
    --sidebar-ring: oklch(0.7543 0.2319 332.0212);
  }
}

@layer theme-default {
  [data-theme-color="default"]:root {
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --destructive-foreground: oklch(1 0 0);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.81 0.1 252);
    --chart-2: oklch(0.62 0.19 260);
    --chart-3: oklch(0.55 0.22 263);
    --chart-4: oklch(0.49 0.22 264);
    --chart-5: oklch(0.42 0.18 266);
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
  }

  [data-theme-color="default"].dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.205 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.269 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.922 0 0);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.371 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --destructive-foreground: oklch(0.985 0 0);
    --border: oklch(0.275 0 0);
    --input: oklch(0.325 0 0);
    --ring: oklch(0.556 0 0);
    --chart-1: oklch(0.81 0.1 252);
    --chart-2: oklch(0.62 0.19 260);
    --chart-3: oklch(0.55 0.22 263);
    --chart-4: oklch(0.49 0.22 264);
    --chart-5: oklch(0.42 0.18 266);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(0.275 0 0);
    --sidebar-ring: oklch(0.439 0 0);
  }
}
